@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin-top: 40px;
  background-color: #eeeeee; }

.contenedor {
  width: 80%;
  float: none;
  margin: 0 auto; }
  .contenedor:before {
    content: "";
    display: table; }
  .contenedor:after {
    content: "";
    display: table;
    clear: both; }

#rspnsv-menu {
  width: 100%;
  min-height: 52px;
  min-width: 52px;
  position: relative;
  background-color: #333333;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  #rspnsv-menu:before {
    content: "";
    display: table; }
  #rspnsv-menu:after {
    content: "";
    display: table;
    clear: both; }
  #rspnsv-menu .btn_rspnsv {
    display: none; }
    #rspnsv-menu .btn_rspnsv:hover {
      cursor: pointer; }
  #rspnsv-menu ul {
    list-style: none;
    float: left;
    padding: 0;
    margin: 0;
    white-space: nowrap; }
    #rspnsv-menu ul li {
      float: left;
      position: relative;
      text-align: center;
      padding: 5px 0; }
      #rspnsv-menu ul li:hover {
        background-color: #bb0000; }
      #rspnsv-menu ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        line-height: 15px;
        padding: 15px 20px;
        display: block; }
        #rspnsv-menu ul li a p {
          text-align: center;
          margin: 5px 0 0 0;
          font-size: 13px;
          color: #fff;
          opacity: 0.7;
          font-style: italic; }
      #rspnsv-menu ul li ul {
        margin-top: -8000px;
        top: 100%;
        z-index: 100;
        position: absolute;
        background-color: #df0000;
        overflow: hidden;
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
        #rspnsv-menu ul li ul li {
          float: none;
          padding: 0;
          border-radius: 0 !important; }
          #rspnsv-menu ul li ul li:first-child {
            border-top: 1px solid transparent; }
          #rspnsv-menu ul li ul li:last-child {
            border-bottom: 1px solid transparent; }
          #rspnsv-menu ul li ul li a {
            text-align: center; }
      #rspnsv-menu ul li .box-title-menu div {
        border-bottom: 1px dotted #900000;
        margin-bottom: 15px;
        padding-bottom: 15px; }
        #rspnsv-menu ul li .box-title-menu div:last-child {
          border-bottom: 0;
          margin-bottom: 0;
          padding-bottom: 0; }
          #rspnsv-menu ul li .box-title-menu div:last-child p {
            padding-top: 0; }
        #rspnsv-menu ul li .box-title-menu div p {
          color: rgba(0, 0, 0, 0.4);
          text-transform: uppercase;
          opacity: 1;
          font-size: 20px;
          font-style: normal;
          font-weight: lighter;
          padding: 15px 20px 0 20px;
          margin: 0; }
      #rspnsv-menu ul li .menu-horizontal div {
        float: left;
        display: block;
        border: none;
        padding: 0;
        margin-top: 15px;
        border-right: 1px dotted rgba(0, 0, 0, 0.4); }
        #rspnsv-menu ul li .menu-horizontal div p {
          padding: 0 20px !important; }
        #rspnsv-menu ul li .menu-horizontal div:last-child {
          border-right: 1px dotted transparent; }
  #rspnsv-menu ul.menu-left li:first-child {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0; }
  #rspnsv-menu ul.menu-right {
    float: right; }
    #rspnsv-menu ul.menu-right li:last-child {
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-bottomright: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 10px; }
    #rspnsv-menu ul.menu-right li ul {
      right: 0 !important;
      -webkit-border-top-left-radius: 0;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-left-radius: 5px;
      -webkit-border-bottom-right-radius: 5px;
      -moz-border-radius-topleft: 0;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-bottomright: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }

@media only screen and (max-width: 680px) {
  #rspnsv-menu {
    float: left;
    width: auto; }
    #rspnsv-menu .btn_rspnsv {
      display: block;
      height: 72px;
      width: 72px;
      z-index: 110;
      position: absolute;
      top: 0;
      left: 0; }
      #rspnsv-menu .btn_rspnsv img {
        padding: 10px; }
    #rspnsv-menu ul {
      display: none;
      width: 100%; }
      #rspnsv-menu ul li {
        width: 100%;
        padding-bottom: 0; }
        #rspnsv-menu ul li ul {
          position: static;
          display: none; }
    #rspnsv-menu ul.menu-left {
      border-bottom: 1px solid #757575;
      padding-bottom: 10px; }
      #rspnsv-menu ul.menu-left li:first-child {
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-left-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomleft: 0;
        -moz-border-radius-bottomright: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
    #rspnsv-menu ul.menu-right {
      padding-top: 10px; }
      #rspnsv-menu ul.menu-right li:last-child {
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-left-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomleft: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; }
      #rspnsv-menu ul.menu-right li ul {
        -webkit-border-top-left-radius: 0;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topleft: 0;
        -moz-border-radius-topright: 0;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; } }

/*# sourceMappingURL=estilos.css.map */
