doctype html
html(lang='es')
	include /include-jade/head.jade 
	body
		.contenedor
			nav#rspnsv-menu
				.btn_rspnsv
					img(src='img/rspnsv-menu/menu-btn.png', alt='')
				ul.menu-left
					li
						a(href='#') Home
					li
						a(href='#') About
						ul
							li
								a(href='#') Us
							li
								a(href='#') Mision
							li
								a(href='#') Vision
							li
								a(href='#') Team
							li
								a(href='#') History
					li
						a(href='#') Services
						ul
							li
								a(href='#') Web Design maoma
									p Best Design
							li
								a(href='#') Programing
									p Best Design
							li
								a(href='#') Advertising
									p Best Design
							li
								a(href='#') Marketing
									p Best Design
							li
								a(href='#') E-Comerce
									p Best Design
							li
								a(href='#') E-Comerce
									p Best Design
					li
						a(href='#') Portfolio
						ul.box-title-menu
							div
								p Web design
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
							div
								p Software Design
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
					li
						a(href='#') Reservas
						ul.box-title-menu.menu-horizontal
							div
								p Web design
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
							div
								p Software 2
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
							div
								p Software
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
					li
						a(href='#') Reservas
						ul.box-title-menu.menu-horizontal
							div
								p Web design
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
							div
								p Software 2dasdasda
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
							div
								p Software
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
							div
								p Software
								li
									a(href='#') Web Design
								li
									a(href='#') Programing
								li
									a(href='#') Advertising
								li
									a(href='#') Marketing
								li
									a(href='#') E-Comerce
					li
						a(href='#') Contact
						ul.full-width
							li
								a(href='#') Us
									p Best Design
							li
								a(href='#') Mision
									p Best Design
							li
								a(href='#') Vision
									p Best Design
							li
								a(href='#') Team
									p Best Design
							li
								a(href='#') History
									p Best Design
				ul.menu-right
					li
						a(href='#') Home
					li
						a(href='#') About
						ul
							li
								a(href='#') Us adsd as
							li
								a(href='#') Mision
							li
								a(href='#') Vision
							li
								a(href='#') Team
							li
								a(href='#') History}
		include /include-jade/scripts.jade
